.file-upload-wraper{
  border-width: 2px;
  border-radius: 1rem;
  border-style: dashed;
  border-color: #cbd5e1;
  width: 100%;
  margin: auto;
}

#form-file-upload {
    height: 16rem;
    max-width: 100%;
    text-align: center;
    position: relative;
    border-width: 2px;
    border-radius: 1rem;
    border-style: dashed;
    border-color: #cbd5e1;
    align-self: center;

  }
  
  #input-file-upload {
    display: none;
  }
  
  #label-file-upload {
    height: 100%;
    display: flex;
    align-items: center;
    border-radius: 1rem;
    justify-content: center;
    background-color: #f8fafc;
  }
  #label-file-upload:hover{
    background-color: lightgrey;
  }
  
  #label-file-upload.drag-active {
    background-color: #ffffff;
  }
  
  .upload-button {
    cursor: pointer;
    padding: 0.25rem;
    font-size: 1rem;
    border: none;
    font-family: 'Oswald', sans-serif;
    background-color: transparent;
  }
  
  .upload-button:hover {
    text-decoration-line: underline;
  }
  


  .no-file-uploaded{
    width: 100%;
    min-width: 100%;
    
  }
  .file-uploaded{
    width: 200px !important;
    display: inline-block;
  }