.user-suggestion-image-wrapper{
    border-radius: 20px;
    height: 650px;
    width: 400px;
    background: grey;
    transform-origin: 50% 100%;
    display: flex;
    overflow: hidden;
}

.user-suggestion-image-wrapper img{
    max-width : 100%;
}

